<%= content_for :title, "Passengers" %>
<%= render(partial: 'accounts/profile') %>

<div id="faces"></div>

<%= content_for :javascripts do %>
    <script type="text/javascript">
      $(window).ready(function() {
          $('#faces').facebook("<%= raw j(people_url(format: :json)) %>");
      });
    </script>
<% end %>
