$base-color: #4387dc;
$alternate-color: gray;
$font-color: black;

$header-color: $base-color;

// TEMPORARY until Compass mixins works with Rails 3.1

@mixin vertical-gradient($from, $to) {
    background: -webkit-gradient(
        linear, left top, left bottom,
        from($from), to($to));
    background: -moz-linear-gradient(
        center top,
        $from 0%, $to 100%);
}

@mixin horiz-gradient($from, $to) {
    background: -webkit-gradient(
        linear, left top, right top,
        from($from), to($to));
    background: -moz-linear-gradient(
        left center,
        $from 0%, $to 100%);
}
