$base-color: #4387dc;
$alternate-color: gray;

$text-color: $alternate-color;
$content-text-color: black;
$header-color: darken($base-color, 10%);
$deemphasize-header-color: lighten($alternate-color, 15%);
$link-color: $base-color;
