@import "_vars";

@mixin button($enabled: true) {
    $color: $base-color;
    @if not($enabled) { $color: gray; }
    background: linear-gradient(top, lighten($color, 40%) 0%, $color 100%);
    border-radius: 5px;

    padding: 3px 10px;

    color: darken($color, 50%);
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(white, 0.75);
    font-weight: normal;
    white-space: nowrap;
    @if not($enabled) { user-select: none; }

    &:hover {
        @if $enabled {
            background: linear-gradient(top, lighten($color, 40%) 0%, lighten($color, 10%) 100%);
        }
    }

    &:active {
        @if $enabled {
            background: linear-gradient(top, darken($color, 30%) 0%, $color 100%);
            text-shadow: 0 -1px 1px rgba(white, 0.5);
        }
    }
}

body {
    color: $text-color;
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: 12pt;
}

header {
    background-color: $base-color;
    text-align: center;
    height: 100px;

    p#login {
        position: relative;
        top: -12px;
    }

    ul#flashes {
        border-radius: 5px;
        position: absolute;
        right: 1em;
        top: 1em;
        width: 350px;
        padding: 4px;
        background: linear-gradient(top, rgba(white, 0.5) 0%, rgba(#ddd, 0.5) 100%);

        li {
            padding: 5px;
            font-size: 10pt;
            font-weight: bold;
            text-align: left;
            margin-top: 4px;
        }

        li:first-child { margin-top: 0; }

        li#flash-alert, li#unsupported {
            background: linear-gradient(top, rgba(#fcc, 0.5) 0%, rgba(#f99, 0.5) 100%);
        }

        li#flash-notice {
            background: linear-gradient(top, rgba(#cfc, 0.5) 0%, rgba(#9f9, 0.5) 100%);
        }
    }
}

article {
    width: 800px;
    margin: 1em auto;
    padding: 1em;
    background-color: white;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;

    p {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 9pt;
        text-align: center;
    }
}

form {
    margin-top: 1em;
    padding-left: 0.5em;
    border-left: 4px solid lighten($header-color, 25%);

    li {
        padding-top: 0.5em;
        padding-bottom: 0.5em;

        p.note {
            font-size: 8pt;
            color: black;
            font-style: italic;
        }
    }
}

input[type=submit] {
    @include button;
    border: none;
    font-size: 11pt;

    &:hover { cursor: pointer; }
}

input[type=file] {
    background: none;
}

span.field-with-errors {
    &>input, &>textarea {
        background: linear-gradient(top, white 0%, #fdd 100%);
    }
}

em { font-style: italic; }
strong { font-weight: bold; }

h1, h2, h3, h4, h5, h6 {
    color: $header-color;
    font-weight: bold;
}

a {
    color: $link-color;
    text-decoration: none;
    &:hover { color: lighten($link-color, 10%); }
}

a.button {
    @include button;
}

a.button-small {
    @include button;
    font-size: 7pt;
    text-transform: uppercase;
    font-weight: bold;
}

.button-small-disabled {
    @include button(false);
    font-size: 7pt;
    text-transform: uppercase;
    font-weight: bold;
}

p.progress {
    text-align: center;
}

ul.inline-errors {
    padding-left: 2em;

    li {
        font-size: 11pt;
        color: darken(red, 25%);
    }
}
