@import "_vars";

article#flights {
    #vitals {
        a {
            color: $text-color;
            &:hover {
                color: $text-color;
                text-decoration: underline;
            }
        }
    }

    // INDEX

    p#filters {
        text-align: center;
        text-transform: uppercase;
        font-size: 10pt;
    }

    // SHOW

    section#overview {
        margin-bottom: 2em;
        
        h1 {
            border-radius: 5px;
            background: linear-gradient(top, lighten($base-color, 10%) 0%, darken($base-color, 10%) 100%);
            text-shadow: 0 -1px 1px rgba(black, 0.75);
            color: white;
            font-size: 18pt;
            padding: 5px 10px;

            time {
                font-weight: bold;
                padding-right: 10px;
                border-right: 2px solid rgba(white, 0.5);
            }
        }

        p {
            border-bottom-radius: 5px;

            color: $content-text-color;
            background-color: lighten($alternate-color, 48%);
            border-left: 1px solid lighten($alternate-color, 25%);
            border-right: 1px solid lighten($alternate-color, 25%);
            border-bottom: 1px solid lighten($alternate-color, 25%);

            width: 95%;
            padding: 5px 10px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    section#details {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: flex-start;

        #blog {
            flex: 1 1 auto;
            align-self: auto;

            padding-right: 1em;
            margin-right: 1em;
            border-right: 2px solid lighten($alternate-color, 30%);

            p {
                color: $content-text-color;
                font-size: 11pt;
                margin-top: 1em;
                margin-bottom: 1em;
            }
        }

        #stats {
            flex: 0 0 auto;
            align-self: auto;

            h2 {
                font-size: 14pt;
                color: $deemphasize-header-color;

                margin-top: 1em;
                margin-bottom: 0.5em;
            }

            p {
                text-align: center;
                font-style: italic;
                font-size: 11pt;
            }

            .stat {
                display: flex;
                flex-flow: row nowrap;

                &>div {
                    flex: 1 1 auto;
                    margin-left: 10px;
                }

                h3 {
                    font-size: 16pt;
                    margin-bottom: 5px;
                    text-decoration: none;
                }

                p {
                    font-size: 11pt;
                    text-align: left;
                    font-style: normal;
                }

            }
        }
    }

    hr {
            height: 1px;
            background-color: gray;
            border-width: 0;
            margin-top: 2em;
            margin-bottom: 2em;
        }

    nav {
        text-align: center;
        margin-top: 1em;
    }

    // EDIT

    form.edit_flight {
        a#new_photo_button {
            font-size: 10pt;
        }

        li img {
            vertical-align: middle;
        }
    }
}
