@import "_vars";

article#imports {
    h1 {
        font-size: 24pt;
        margin-bottom: 2em;
    }

    h2 {
        font-size: 18pt;
        margin-top: 2em;
        margin-bottom: 1em;
    }

    details {
        summary {
            color: $deemphasize-header-color;
            font-size: 14pt;
            margin-top: 0.5em;
            margin-bottom: 0.5em;

            em {
                color: lighten($header-color, 25%);
                font-weight: bold;
                font-style: normal;
            }
        }
        
        li {
            margin-left: 2em;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            list-style-type: decimal;
        }

        kbd, samp {
            font-family: Lucida Grande, Lucida Sans, Helvetica, sans-serif;
            font-size: 90%;
            font-weight: bold;
            color: darken($text-color, 10%);
        }
    }

    p {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    p.diagram {
        text-align: center;
    }

    p.progress {
        margin-bottom: 0;
    }

    p#progress-text {
        font-size: 10pt;
        text-align: center;
    }
}
