@import "_vars";
@import "compass/css3/box";

section#title {
    @include display-box;
    @include box-orient(horizontal);

    width: 100%;

    margin-bottom: 1em;

    img { margin-right: 1em; }

    div#name { @include box-flex(1); }

    h1, h1>a {
        font-size: 24pt;
        font-weight: bold;
        color: $header-color;
        text-decoration: none;
    }

    p#vitals, p#vitals>a {
        color: $alternate-color;
        text-decoration: none;
        a:hover { text-decoration: underline; }
    }

    p { margin-top: 1em; }
}
