@import "_vars";
@import "compass/css3/box";

article#users {
    #tagline {
        color: $header-color;
        font-size: 36pt;
        font-weight: bold;
    }

    #detail {
        margin-top: 1em;
        color: lighten($header-color, 25%);
        font-size: 24pt;
    }

    ul#examples {
        margin-bottom: 2em;
    }

    #call-to-action {
        color: lighten($alternate-color, 15%);
    }
}
